
:import {
	-st-from: '~/components/variables.st.css';
	-st-named:
		colorBrandDanger,
		sizeGapSmall;
}

.root {
	margin: 0 auto;
	padding: value(sizeGapSmall);
	max-width: 800px;
}

.textarea {
	min-height: 10em;
}

.footer {
	text-align: center;
}

.error {
	margin: value(sizeGapSmall) 0;
	color: value(colorBrandDanger);
}

.loading {
	text-align: center;
}

.spinner {
	font-size: 1em;
}
