
:import {
	-st-from: '~/components/variables.st.css';
	-st-named: sizeGapSmall;
}

:vars {
	sizeImgWidth: 200;
	sizeImgHeight: 93.47;
}

.root {
	margin: 0;
	padding: 0;
	list-style: none;
}

.item {
	margin: value(sizeGapSmall) 0;
}

.link {
	display: flex;
	align-items: center;
}

.figure {
	position: relative;
	margin: 0 value(sizeGapSmall) 0 0;
	padding: calc(value(sizeImgHeight) / 2 * 100% / 800) 0;
	width: 25%;
	min-width: 25%;
	max-width: calc(value(sizeImgWidth) * 1px);
}

.img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
